@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
li, a{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Open Sans", sans-serif;
}

:root{
    --brand-color: #FD6E0A;
    --brand-color-two: #FFF8F3;
    --black-color: #181818;
    --white-color: #fff;
    --dark-tow: #474747;
}
.text-center{
    text-align: center;
}
img{
    max-width: 100%;
}

/* header here ---------------------------------------------------------------> */
.header{
    background-color: var(--brand-color-two);
}
.header{
    background-image: url(../images/developer-01.png);
    background-repeat: no-repeat;
    /* background-position: 0px; */
    background-size: contain;
    
}

/* nav here --------------------------------------? */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding: 10px ;

}
nav ul{
    display: flex;
    align-items: center;
}
.nav-logo{
    font-weight: 800;
    font-size: 30px;
}
.nav-logo span{
    color: var(--brand-color);
}
nav ul li{
    display: flex;
    align-items: center;
}

nav > ul > li a{
    color: var(--dark-tow);
    font-weight: 400;
    font-size: 18px;
    padding: 8px 18px;
}
.btn-primary{
    border: none;
    background-color: var(--brand-color);
    padding: 8px 15px;
    color: var(--white-color);
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}


/* banner ------------------------------------------------------> */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding: 10px;
}

#banner-cnt{
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}

.banner-content{
    max-width: 500px;
}
.banner-greetings{
    font-weight: 400;
    font-size: 25px;
    color: var(--brand-color);
}
.banner-title{
    font-size: 55px;
    color: var(--dark-tow);
}
.banner-profile-img{
    width: 450px;
    padding-top: 20px;
}
.banner-content .banner-description {
    margin: 15px 0px;
    font-size: 15px;
}
.btn-contact{
    border: 1px solid var(--brand-color);
    background-color: var(--brand-color-two);
    color: var(--brand-color);
    margin-left: 12px;
}


/* about section here --------------------------------------------------------------------> */
main{
    max-width: 1170px;
    margin: 0 auto;
}

#about-section{
    padding: 100px ;
    text-align: center;
    background-color: var(--brand-color-two);
    margin: 100px 0;
}
.about-cnt{
    background-color: #fff;
    padding: 40px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

#about-section .section-title{
    font-weight: bold;
    /* font-size: 35; */
    color: var(--dark-tow);
}
#about-section .section-description{
    font-size: 15px;
    margin: 30px 0;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

#about-section .item-description{
    font-weight: 600;
}
.about-item{
    margin: 10px 0;
}




/* what i do (skills)--------------------------------------------> */
.skills{
    padding: 50px 0;
}
.skills .section-title{
    font-size: 35px;
    font-weight: bold;
}
.skills .section-description{
    font-size: 15px;
}

.skills .skills-container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px;
}
.skills-container .skill{
    padding: 50px 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    color: var(--dark-tow);
}
.skills .skill-title{
    margin: 15px 0;
}
.skills .skill-description{
    font-size: 14px;
    color: var(--dark-tow);
}





/* resume  ---------------------------------*/
.resume{
    padding: 50px 0;
}
.resume .section-title{
    margin: 25px 0;
    font-size: 25px;
}

.resume-container{
    display: flex;
    gap: 30px;
    padding: 15px;
}
.resume-title,
.experience-sub-title,
.experience-description{
    color: var(--dark-tow);
}
.experience-title,
.resume-title{
    margin: 10px 0;
}
.experience-sub-title{
    margin: 5px 0;
}
.resume .experience-description{
    font-size: 15px;
    margin: 15px 0;
}
hr{
    color: #ffffff;
}
.resume-download{
    margin: 30px 0;
}



/* footer-----------------------> */
footer{
    background-color: var(--brand-color-two);
    padding: 50px 0;
}
.footer-cnt{
    max-width: 1170px;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 15px;
}
input[type="text"], footer input[type="email"], footer input [type="textarea"] {
    height: 40px;
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--dark-tow);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    border-radius: 3px;
}
footer .section-title{
    padding: 20px 0;
}
form textarea:focus,
form input:focus{
    outline: 0 !important;
	box-shadow: none;
    transition: all 0.5s ease-in-out;
}
form textarea{
    border: none;
    padding: 10px 20px;
}
textarea{
    width: 100%;
    height: 100px;
}